<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Quản lý phim</title>

    <!-- Phông chữ tùy chỉnh cho mẫu này -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet" />

    <!-- Kiểu tùy chỉnh cho mẫu này -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />

    <!-- Kiểu tùy chỉnh cho trang này -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" />
</head>

<body id="page-top">
<!-- Trình bao bọc trang -->
<div id="wrapper">
    <!-- Sidebar -->
    <section th:replace="Admin/Navbar :: Navbar">

    </section>
    <!-- Kết thúc Sidebar -->

    <!-- Trình bao bọc nội dung -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Nội dung chính -->
        <div id="content">
            <!-- Thanh điều hướng trên cùng -->
            <section th:replace="Admin/Header :: Header">

            </section>
            <!-- Kết thúc Thanh điều hướng trên cùng -->

            <!-- Bắt đầu Nội dung Trang -->
            <div class="container-fluid">
                <!-- Tiêu đề Trang -->
                <h1 class="h3 mb-2 text-gray-800">ADD MOVIE</h1>
                <form th:action="@{/AdminMovies/edit/{id}}" th:object="${movie}" method="post" class="needs-validation" novalidate>
                    <input type="hidden" th:field="*{id}" name="id"/>
                    <div>
                        <label>Name:</label>
                        <input type="text" th:field="*{name}" required="required" maxlength="255"/>
                    </div>
                    <div>
                        <label>Origin Name:</label>
                        <input type="text" th:field="*{originName}" required="required" maxlength="255"/>
                    </div>
                    <div>
                        <label>Content:</label>
                        <textarea th:field="*{contentMovies}" required="required"></textarea>
                    </div>
                    <div>
                        <label>Type:</label>
                        <input type="text" th:field="*{typeMovies}" required="required" maxlength="15"/>
                    </div>
                    <div>
                        <label>Time (in minutes):</label>
                        <input type="number" th:field="*{timeMovies}" required="required"/>
                    </div>
                    <div>
                        <label>Quality:</label>
                        <input type="text" th:field="*{qualityName}" required="required" maxlength="8"/>
                    </div>
                    <div>
                        <label>Year:</label>
                        <input type="text" th:field="*{year}" required="required" maxlength="4"/>
                    </div>
                    <div>
                        <label>Country:</label>
                        <input type="text" th:field="*{countryName}" required="required" maxlength="56"/>
                    </div>
                    <div>
                        <label>Slug:</label>
                        <input type="text" th:field="*{slug}" required="required" maxlength="255"/>
                    </div>
                    <div>
                        <label>Director:</label>
                        <input type="text" th:field="*{directorName}" required="required" maxlength="75"/>
                    </div>
                    <div>
                        <label>Total Episodes:</label>
                        <input type="number" th:field="*{episodeTotal}" required="required"/>
                    </div>
                    <div>
                        <label>Current Episodes:</label>
                        <input type="number" th:field="*{episodeCurrent}"/>
                    </div>
                    <div>
                        <a class="btn btn-warning" th:href="@{/AdminMovies/addPoster/{id}(id=${id})}">
                            QUAN LY ANH <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    </br>
                    <div>
                        <a class="btn btn-warning" th:href="@{/AdminMovies/addActor/{id}(id=${id})}">
                            CHINH ACTOR <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    </br>
                    <div>
                        <a class="btn btn-warning" th:href="@{/AdminMovies/addCategory/{id}(id=${id})}">
                            CHINH Category <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    </br>
                    <div>
                        <a class="btn btn-warning" th:href="@{/AdminMovies/addEpisode/{id}(id=${id})}">
                            CHINH Episode <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    </br>
                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
                </br>
                <div>
                    <a class="btn btn-secondary" th:href="@{/AdminMovies}">
                        <i class="fas fa-arrow-left"></i> Back to Movie Detail
                    </a>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- Kết thúc Nội dung chính -->

        <!-- Footer -->

        <!-- Kết thúc Footer -->
    </div>
    <!-- Kết thúc Trình bao bọc nội dung -->
</div>
<!-- Kết thúc Trình bao bọc trang -->

<!-- Nút cuộn lên -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Modal Đăng xuất -->

<!-- JavaScript cốt lõi Bootstrap -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- JavaScript plugin cốt lõi -->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Tập lệnh tùy chỉnh cho tất cả các trang -->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Các plugin cấp trang -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Tập lệnh tùy chỉnh cấp trang -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>
</body>
</html>