<!DOCTYPE HTML>

<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Moviepoint - Online Movie,Vedio and TV Show HTML Template</title>
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" th:href="@{/assets/img/favcion.png}" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" media="all" />
		<!-- Slick nav CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/slicknav.min.css}" media="all" />
		<!-- Iconfont CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/icofont.css}" media="all" />
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/owl.carousel.css}">
		<!-- Popup CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/magnific-popup.css}">
		<!-- Main style CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" media="all" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/responsive.css}" media="all" />
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

          </head>
          <body>
              <!-- Page loader -->
              <div id="preloader"></div>
              <div th:replace="Header :: Header"></div>
              <!-- breadcrumb area start -->
              <section class="breadcrumb-area">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="breadcrumb-area-content">
                                  <h1>Movie Detalied Page</h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </section><!-- breadcrumb area end -->
              <!-- transformers area start -->
              <section class="transformers-area">
                  <div class="container">
                      <div class="transformers-box">
                          <div class="row flexbox-center">
                              <div class="col-lg-5 text-lg-left text-center">
                                  <div class="transformers-content">
                                      <img th:src="@{${movie.poster[0].posterUrl}}" alt="about" />
                                      <div class="news-date">
                                          <h2><span>NOV</span> 25</h2>
                                          <h1>2017</h1>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-7">
                                  <div class="transformers-content">
                                      <h2 th:text="${movie.name}"></h2>
                                      <p>3D | Animation | Action | Sci-Fi</p>
                                      <ul>
                                          <li>
                                              <div class="transformers-left">
                                                  Movie:
                                              </div>
                                              <div class="transformers-right">
                                                  <a th:text="${movie.originName}"></a>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="transformers-left">
                                                  Writer:
                                              </div>
                                              <div class="transformers-right">
                                                  Stephen McFeely, Christopher Markus
                                              </div>
                                          </li>
                                          <li>
                                              <div class="transformers-left">
                                                  Director:
                                              </div>
                                              <div class="transformers-right" th:text="${movie.actors[0].actorName}">

                                              </div>
                                          </li>
                                          <li>
                                              <div class="transformers-left">
                                                  Time:
                                              </div>
                                              <div class="transformers-right"  th:text="${movie.timeMovies}">
                                                  m
                                              </div>
                                          </li>
                                          <li>
                                              <div class="transformers-left">
                                                  Release:
                                              </div>
                                              <div class="transformers-right" th:text="${movie.year}">
      \										</div>
                                          </li>
                                          <li>
                                              <div class="transformers-left">
                                                  Language:
                                              </div>
                                              <div class="transformers-right" th:text="${movie.countryName}">
                                              </div>
                                          </li>

                                          <li>
                                              <div class="transformers-left">
                                                  Share:
                                              </div>
                                              <div class="transformers-right">
                                                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                                                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                                                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                                                  <a href="#"><i class="icofont icofont-youtube-play"></i></a>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <a href="th:href="@{/Movies/watching/{id}(id=${movie.id})}"" class="theme-btn"><i class="icofont icofont-ticket"></i> WATCHING</a>
                      </div>
                  </div>
              </section><!-- transformers area end -->
              <!-- details area start -->
              <section class="details-area">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-9">
                              <div class="details-content">
                                  <div class="details-overview">
                                      <h2>Overview</h2>
                                      <p th:text="${movie.contentMovies}"></p>

                                  </div>
								  <div class="slide-trailor" style="position: relative;">  <h3>Watch Trailer</h3>
									  <a th:if="${movie.TrailerMovies.size() > 0}"
										 th:href="${movie.TrailerMovies[0].trailerUrl}" class="popup-youtube">
										  <i class="icofont icofont-ui-play" style=" margin-left: 50%;"></i>
									  </a>
								  </div>
                                  <div class="details-reply">
                                      <h2>Leave a Reply</h2>
                                      <form action="#">
                                          <div class="row">
                                              <div class="col-lg-4">
                                                  <div class="select-container">
                                                      <input type="text" placeholder="Name"/>
                                                      <i class="icofont icofont-ui-user"></i>
                                                  </div>
                                              </div>
                                              <div class="col-lg-4">
                                                  <div class="select-container">
                                                      <input type="text" placeholder="Email"/>
                                                      <i class="icofont icofont-envelope"></i>
                                                  </div>
                                              </div>
                                              <div class="col-lg-4">
                                                  <div class="select-container">
                                                      <input type="text" placeholder="Phone"/>
                                                      <i class="icofont icofont-phone"></i>
                                                  </div>
                                              </div>
                                              <div class="col-lg-12">
                                                  <div class="textarea-container">
                                                      <textarea placeholder="Type Here Message"></textarea>
                                                      <button><i class="icofont icofont-send-mail"></i></button>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                                  <div class="details-comment">
                                      <a class="theme-btn theme-btn2" href="#">Post Comment</a>
                                      <p>You may use these HTML tags and attributes: You may use these HTML tags and attributes: You may use these HTML tags and attributes: </p>
                                  </div>
                                  <div class="details-thumb">
                                      <div class="details-thumb-prev">
                                          <div class="thumb-icon">
                                              <i class="icofont icofont-simple-left"></i>
                                          </div>
                                          <div class="thumb-text">
                                              <h4>Previous Post</h4>
                                              <p>Standard Post With Gallery</p>
                                          </div>
                                      </div>
                                      <div class="details-thumb-next">
                                          <div class="thumb-text">
                                              <h4>Next Post</h4>
                                              <p>Standard Post With Preview Image</p>
                                          </div>
                                          <div class="thumb-icon">
                                              <i class="icofont icofont-simple-right"></i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-3 text-center text-lg-left">
                              <div class="portfolio-sidebar">
                                  <img th:src="@{/assets/img/sidebar/sidebar1.png}" alt="sidebar" />
                                  <img th:src="@{/assets/img/sidebar/sidebar2.png}" alt="sidebar" />
                                  <img th:src="@{/assets/img/sidebar/sidebar4.png}" alt="sidebar" />
                              </div>
                          </div>
                      </div>
                  </div>
              </section><!-- details area end -->
              <div th:replace="Footer :: Footer"></div>
              <!-- jquery main JS -->
              <script th:src="@{/assets/js/jquery.min.js}"></script>
              <!-- Bootstrap JS -->
              <script th:src="@{/assets/js/bootstrap.min.js}"></script>
              <!-- Slick nav JS -->
              <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>
              <!-- owl carousel JS -->
              <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
              <!-- Popup JS -->
              <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
              <!-- Isotope JS -->
              <script th:src="@{/assets/js/isotope.pkgd.min.js}"></script>
              <!-- main JS -->
              <script th:src="@{/assets/js/main.js}"></script>
          </body>

      </html>